# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Laravel
/backend/vendor/
/backend/node_modules/
/backend/.phpunit.result.cache
/backend/public/storage
/backend/public/hot
/backend/public/build
/backend/storage/*.key
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.idea
/backend/.vscode

# Nuxt.js
/frontend/node_modules
/frontend/.nuxt
/frontend/dist
/frontend/.output
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/.env
/frontend/.DS_Store
/frontend/.idea
/frontend/.vscode

# General
.DS_Store
.idea
.vscode
Thumbs.db
